body {
  padding-top: 1vh;
  /* Adds 5%vw grey border left&right */
  border-left: 5vw solid lightgrey;
  border-right: 5vw solid lightgrey;
}

.aboutText {
  font-family: 'Rubik', sans-serif;
  font-size: 2.5vh;
}

.indexText {
  font-family: 'Rubik', sans-serif;
  font-size: 2.5vh;
}

.indexContainer {
  /* Stops text overlap on body border */
  margin: 2rem;
}

.findUsContainer {
  /* Stops text overlap on body border */
  margin: 2rem;
}

.aboutUsContainer {
  /* Stops text overlap on body border */
  margin: 2rem;
}

.staffContainer {
  /* Stops text overlap on body border */
  margin: 2rem;
}

.galleryContainer {
  /* Stops text overlap on body border */
  margin: 2rem;
}

.headers {
  font-family: 'Michroma', sans-serif;
  font-size: 6vh;
  text-align: center;
}

.navbar-brand {
  font-family: 'Questrial', sans-serif;
  font-size: 22px;
}

.navbar-link {
  font-family: 'Questrial', sans-serif;
}

.iframe-container{
    position: relative;
    width: 50%;
    padding-bottom: 56.25%;
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 70%;
    width: 100%;
}

.location-text-container {
  padding: 2rem;
  background-color: rgb(239, 239, 239);
  text-align: center;
}

/* navbar */
.navbar-default {
    background-color: #2870e2;
    border-color: #000000;
}

/* Title */
.navbar-default .navbar-brand {
    color: #ffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #abbad8;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #ffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #abbad8;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2870e2;
  color: white;
  text-align: center;
}
