body {
  padding-top: 70px;
}

.navbar-brand {
  font-family: 'Questrial', sans-serif;
}

.navbar-link {
  font-family: 'Questrial', sans-serif;
}

/* .headers {
  font-family: 'Michroma', sans-serif;
  font-size: 5rem;
  text-align: center;
} */
