{% extends "snps_app/base.html" %}
{% block body_block %}
{% load staticfiles %}
<div class="aboutUsContainer">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1 class="page-header headers">About us</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 imageContainer">
      <img src="{% static 'images/playground.jpg' %}" class="img-responsive" alt="">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="aboutText">
        <br><br>
        <p>Our Pre-School opened in 1976. It is privately owned and managed, and caters for up to 20 children per session, between the ages of 2-5 years.</p>
        <p>We are committed to provide a warm and welcoming environment for children and their parents, with play and learning opportunities through a wide range of activities. We have sound knowledge of Early Years Practice to enable all of our children to have fun and reach their full potential.</p>
        <p>We welcome children from all social and ethnic groups and we operate an equal opportunities policy for all admissions.</p>
        <p>The term following a child’s 3rd birthday they are entitled to Government Funding towards their fees.</p>
        <p>We welcome the opportunity to meet you and to show you around so please get in touch. We have a waiting list so please get in contact to register your interest.</p>
        <ul>
          <li>07546889868</li>
          <li>office.stnicholaspreschool@gmail.com</li>
        </ul>
      </div>
    </div>
  </div>
</div>



<div class="footer">
  <p class="footerText">"Children are happy and settled. They have positive relationships with the staff, which helps to foster a strong sense of security and emotional well-being."<small> <i>- Ofsted 2016</i> </small></p>
</div>
{% endblock %}
