{% extends "snps_app/base.html" %}
{% block body_block %}
<div class="findUsContainer">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1 class="page-header headers">Where to find us</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 iframe-container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5051.795483945927!2d-1.781205246253832!3d50.721836248527374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48739e912578eb9b%3A0x4d7fbf084a3c0625!2sSt+Nicholas+Pre+School!5e0!3m2!1sen!2suk!4v1536186423158" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="location-text-container">
        <p>St Nicholas Pre-School</p>
        <p>St Nicholas Church Hall</p>
        <p>Broadway</p>
        <p>Southbourne</p>
        <p>Bournemouth</p>
        <p>BH6 4EP</p>
      </div>
    </div>
  </div>
</div>



<div class="footer">
  <p>"Staff work closely with parents and other agencies. The ongoing sharing of information helps to provide continuity for children's care and learning."<small> <i>- Ofsted 2016</i> </small></p>
</div>
{% endblock %}
