{% extends "snps_app/base.html" %}
{% block body_block %}
{% load staticfiles %}

<div class="galleryContainer">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header headers">Gallery</h1>
    </div>
  </div>
</div>

<div class="lightboxContainer">
  <div class="row">

    <div class="col-sm-3 col-xs-6 galleryImg">
      <a href="{% static 'images/snps_sign.jpg' %}" data-lightbox="mygallery"><img src="{% static 'images/snps_sign.jpg' %}"></a>
    </div>
    <div class="col-sm-3 col-xs-6 galleryImg">
      <a href="{% static 'images/hall_center.jpg' %}" data-lightbox="mygallery"><img src="{% static 'images/hall_center.jpg' %}"></a>
    </div>
    <div class="col-sm-3 col-xs-6 galleryImg">
      <a href="{% static 'images/outdoors_toys.jpg' %}" data-lightbox="mygallery"><img src="{% static 'images/outdoors_toys.jpg' %}"></a>
    </div>
    <div class="col-sm-3 col-xs-6 galleryImg">
      <a href="{% static 'images/outdoors_back.jpg' %}" data-lightbox="mygallery"><img src="{% static 'images/outdoors_back.jpg' %}"></a>
    </div>
    <div class="col-sm-3 col-xs-6 galleryImg">
      <a href="{% static 'images/outside_building.jpg' %}" data-lightbox="mygallery"><img src="{% static 'images/outside_building.jpg' %}"></a>
    </div>
    <div class="col-sm-3 col-xs-6 galleryImg">
      <a href="{% static 'images/g6.jpg' %}" data-lightbox="mygallery"><img src="{% static 'images/g6.jpg' %}"></a>
    </div>
    <div class="col-sm-3 col-xs-6 galleryImg">
      <a href="{% static 'images/g7.jpg' %}" data-lightbox="mygallery"><img src="{% static 'images/g7.jpg' %}"></a>
    </div>
    <div class="col-sm-3 col-xs-6 galleryImg">
      <a href="{% static 'images/outside_fence.jpg' %}" data-lightbox="mygallery"><img src="{% static 'images/outside_fence.jpg' %}"></a>
    </div>
  </div>
</div>

  <div class="footer">
    <p>"Staff have a good understanding of safeguarding issues and what to do in the event of a concern about a child's well-being. They are clear of their responsibility to provide a safe and secure environment for children."<small> <i>- Ofsted 2016</i> </small></p>
  </div>
{% endblock %}
