{% extends "snps_app/base.html" %}
{% block body_block %}
{% load staticfiles %}
<div class="indexContainer">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1 class="page-header headers">St Nicholas Pre-School</h1>
      <h3 class="text-center subHeader"><b>Contact:</b> <span class="glyphicon glyphicon-phone"></span> 07546889868 <span class="glyphicon glyphicon-envelope"></span> <a class="emailLink" href="mailto:office.stnicholaspreschool@gmail.com">office.stnicholaspreschool@gmail.com</a></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <img src="{% static 'images/hall_pageview.jpg' %}" class="img-responsive" alt="">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="indexText">
        <p>St Nicholas is a well established Pre-school based in Southbourne, We have been running for over 40 years. We are an equal opportunity setting and welcome all children between the ages of 2 and 5 years old.</p>
        <p>We follow the 'Early Years Foundation Stage (EYFS)' curriculum. We are Ofsted registered and can offer 15 hours free childcare for children aged 3 and 4.</p>
        <br>
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading text-center"><b>Ofsted Inspection - February 2016</b></h4>
          <hr>
          <p>Effectiveness of the leadership and management: <i>Good</i></p>
          <p>Quality of teaching, learning and assessment: <i>Good</i></p>
          <p>Personal development, behaviour and welfare: <i>Good</i></p>
          <p>Outcomes for children: <i>Good</i></p>
          <hr>
          <p class="mb-0">View the full Ofsted report <a href="https://files.api.beta.ofsted.gov.uk/v1/file/2546505" target="_blank">here</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="footer">
  <p class="footerText">"Children make good progress. Staff know children well and regularly assess and plan for their individual development."<small> <i>- Ofsted 2016</i> </small></p>
</div>
{% endblock %}
