{% extends "snps_app/base.html" %}
{% block body_block %}
{% load staticfiles %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1 class="page-header headers">St Nicholas Pre-School</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <img src="{% static 'images/hall.jpg' %}" class="img-responsive" alt="">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <p class="text-center">Our Pre-School opened in 1976. It is privately owned and managed, and caters for up to 20 children per session, between the ages of 2-6 years.</p>
    </div>
  </div>
</div>
{% endblock %}
