{% extends "snps_app/base.html" %}
{% block body_block %}
{% load staticfiles %}
<div class="indexContainer">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1 class="page-header headers">St Nicholas Pre-School</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <img src="{% static 'images/hall.jpg' %}" class="img-responsive" alt="">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="indexText">
        <p class="">Our Pre-School opened in 1976. It is privately owned and managed, and caters for up to 20 children per session, between the ages of 2-6 years.</p>
        <p class="">We are committed to provide a warm and welcoming environment for children and their parents, with play and learning opportunities through a wide range of activities. We have sound knowledge of Early Years Practice to enable all of our children to have fun and reach their full potential.</p>
        <p class="">We are registered with Ofsted and had our latest Ofsted Inspection on February 10th 2016. We achieved an Ofsted ‘Good’ in all areas. Our Inspection Report can be found on the Ofsted website. </p>
        <p class="">We welcome children from all social and ethnic groups and we operate an equal opportunities policy for all admissions.</p>
        <p class="">The term following a child’s 3rd birthday they are entitled to Government Funding towards their fees.</p>
        <p class="">We welcome the opportunity to meet you and to show you around so please get in touch. We have a waiting list so please contact us so that we can add your child's name to our list.</p>
        <p class="">From 2 years To 5 years 0 months </p>
        <ul>
          <li>Monday to Friday 9.00am to 12.00pm</li>
          <li>Wednesday 1.00pm to 3.30pm</li>
          <li>Thursday 1.00pm to 4.00pm</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
