{% extends "snps_app/base.html" %}
{% block body_block %}
{% load staticfiles %}
<div class="aboutUsContainer">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1 class="page-header headers">Policies</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 imageContainer">
      <img src="{% static 'images/building_pageview.jpg' %}" class="img-responsive" alt="">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="policyText">
        <p>Please see below some of our key policies. However, we have a full list of policies and procedures available to view upon request.</p>
        <p><b>Safeguarding</b></p>
        <p>Our safeguarding policy is in line with the 'Working with children safeguarding update - April 2017'</p>
        <p>We comply with the requirements of the 'Prevent' duty guidance.</p>
        <p><b>Behaviour</b></p>
        <p>We believe that children and adults flourish best in an ordered environment in which everyone knows what is expected of them, following our 'Golden Rules'. Children are free to develop their play and learning without fear of being hurt or hindered by anyone else. We aim to work towards a situation in which children can develop self- discipline and self-esteem in an area of mutual respect and encouragement.</p>
        <p><b>Record Keeping</b></p>
        <p>We understand the importance of the new GDPR legislation and this is reflected in our record keeping and our day to day practices within the setting. All sensitive information is stored securely.</p>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <p class="footerText">"Children make good progress. Staff know children well and regularly assess and plan for their individual development."<small> <i>- Ofsted 2016</i> </small></p>
</div>
{% endblock %}
