{% extends "snps_app/base.html" %}
{% block body_block %}
{% load staticfiles %}
<div class="staffContainer">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header headers">Meet the team</h1>
    </div>
  </div>
</div>

<div class="footer">
  <p>Staff interact positively with the children. They support children's communication and language skills effectively, teaching new words to help extend their vocabulary.  <small> <i>- Ofsted 2016</i> </small> </p>
</div>
{% endblock %}
