{% extends "snps_app/base.html" %}
{% block body_block %}
{% load staticfiles %}
<div class="staffContainer">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header headers">Meet the team</h1>
    </div>
  </div>
</div>

<p class="text-center staffIntro">All of our staff are fully trained in both Safeguarding and Paediatric First Aid following government regulations.<br /> We regularly attend training courses to ensure children recieve the best learning opportunities.</p>

<div class="staffDetailsContainer">
  <div class="row">
    <div class="col-md-2 col-sm-2 col-xs-12">
      <table>
        <tr>
          <th><img class="staffImg" src="{% static 'images/wendy.jpg' %}" alt=""></th>
        </tr>
        <tr>
          <td>
            <p class="text-center staffName"><b>Mrs Wendy Ormesher</b></p>
            <div class="staffDetails">
              <p class="text-center staff-desc staff-desc"><b><u>Roles</u></b><br />Owner / Manager<br />Behaviour Management<br />SENCO</p>
              <p class="text-center staff-desc staff-desc"><b><u>Qualification</u></b><br />Level 3 Practitioner</p>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12">
      <table>
        <tr>
          <th><img class="staffImg" src="{% static 'images/catherine.jpg' %}" alt=""></th>
        </tr>
        <tr>
          <td>
            <p class="text-center staffName"><b>Mrs Catherine Kay</b></p>
            <div class="staffDetails">
              <p class="text-center staff-desc"><b><u>Roles</u></b><br />Deputy Manager<br />Behaviour Management</p>
              <p class="text-center staff-desc"><b><u>Qualification</u></b><br />B.A. Hons Education</p>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12">
      <table>
        <tr>
          <th><img class="staffImg" src="{% static 'images/liane.jpg' %}" alt=""></th>
        </tr>
        <tr>
          <td>
            <p class="text-center staffName"><b>Mrs Liane Brown</b></p>
            <div class="staffDetails">
              <p class="text-center staff-desc"><b><u>Role</u></b><br />SENCO</p>
              <p class="text-center staff-desc staff-desc"><b><u>Qualification</u></b><br />Level 3 Practitioner</p>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12">
      <table>
        <tr>
          <th><img class="staffImg" src="{% static 'images/sarah.jpg' %}" alt=""></th>
        </tr>
        <tr>
          <td>
            <p class="text-center staffName"><b>Mrs Sarah Goodyer</b></p>
            <div class="staffDetails">
              <p class="text-center staff-desc"><b><u>Qualification</u></b><br />Level 3 Practitioner</p>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12">
      <table>
        <tr>
          <th><img class="staffImg" src="{% static 'images/liz.jpg' %}" alt=""></th>
        </tr>
        <tr>
          <td>
            <p class="text-center staffName"><b>Mrs Liz Snowdon</b></p>
            <div class="staffDetails">
              <p class="text-center staff-desc"><b><u>Qualification</u></b><br />Level 3 Practitioner</p>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12">
      <table>
        <tr>
          <th><img class="staffImg" src="{% static 'images/katy.jpg' %}" alt=""></th>
        </tr>
        <tr>
          <td>
            <p class="text-center staffName"><b>Mrs Katy Eaton</b></p>
            <div class="staffDetails">
              <p class="text-center staff-desc"><b><u>Qualification</u></b><br />Level 3 Practitioner</p>
            </div>
            <br><br><br><br>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="footer">
  <p class="footerText">"Staff have a good understanding of safeguarding issues and what to do in the event of a concern about a child's well-being. They are clear of their responsibility to provide a safe and secure environment for children."</p>
</div>
{% endblock %}
